{% extends 'base.html.twig' %}

{% block title %}New Repo{% endblock %}

{% block body %}
    {{ include('repo/_form.html.twig', {title: 'Create new Repo', form: form}) }}
    <a href="{{ path('app_repo_index') }}">back to list</a>
{% endblock %}
