body {
    background-color: lightgray;
}
@import "~bootstrap/scss/bootstrap";
@import "../scss/styles";

.cards-container div {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
