body {
    background-color: lightgray;
}
@import "~bootstrap/scss/bootstrap";
@import "../scss/styles";
.cards-container div {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}

.cards-container .card-header {
    min-height: 55px;
}
.cards-container .card-footer {
    min-height: 77.8px;
}
div.slider-div {
    margin-left: 20px;
    margin-right: 20px;
}

input[type=radio] {
    margin-right: 8px;
}
.form-check-label {
    font-size: 0.8em;
}

.btn-icon {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: black;
    padding: 0 10px 0 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;
}
