{% macro graphCard(id, title) %}
    <div class="card mt-2">
        <div class="card-header text-center">{{ title }}</div>
        <div id="{{ id }}" class="card-body text-center"></div>
    </div>
{% endmacro %}
